@model APRP.Web.ViewModels.DisbursementViewModel

<table class="subscription-table responsive-table striped" id="page-length-option">
    <thead>
        <tr>
            <th>
               Authority
            </th>
            <th>
                Amount
            </th>
            <th>
                Disbursement Tranche
            </th>
            <th>
                Financial Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Disbursements != null)
        {
            foreach (var item in Model.Disbursements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Authority.Code)-@Html.DisplayFor(modelItem => item.Authority.Name)
                    </td>
                    <td>
                        @{
                            var amt = item.Amount;
                            @String.Format("{0:0,0.00}", amt)
                        }                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisbursementTranche.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialYear.Code)
                    </td>
                    <td>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Disbursement.Change")).Succeeded)
                        {
                            <a onclick="ShowinPopUp('@Url.Action("AddEdit","Disbursement", new { id = @item.ID },Context.Request.Scheme)','Edit')">
                                <i class="material-icons pink-text">mode_edit</i>
                            </a>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Disbursement.View")).Succeeded)
                        {
                            <a onclick="ShowinPopUp('@Url.Action("DetailsIndividual","Disbursement", new { AuthorityId = @item.AuthorityId,FinancialYearId = @item.FinancialYearId },Context.Request.Scheme)','Details')">
                                <i class="material-icons pink-text">details</i>
                            </a>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Disbursement.Delete")).Succeeded)
                        {
                            <a onclick="ShowinPopUp('@Url.Action("Delete","Disbursement", new { id = @item.ID },Context.Request.Scheme)','Delete')">
                                <i class="material-icons pink-text">delete</i>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
