@model APRP.Web.ViewModels.CountiesRoadViewModel

<table class="subscription-table responsive-table striped" id="page-length-option">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountiesRoad.RdNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountiesRoad.RdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountiesRoad.Section_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountiesRoad.SurfaceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountiesRoad.Length)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
