@model APRP.Web.ViewModels.KwsRoadViewModel

<table class="subscription-table responsive-table striped" id="page-length-option">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwsRoad.RdNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwsRoad.RdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwsRoad.Section_ID)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.KerraRoad.Sec_Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.KwsRoad.SurfaceType)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.KerraRoad.RdClass)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.KwsRoad.Length)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
