@model APRP.Web.ViewModels.ItemActivityGroupViewModel

@{
    Layout = null;
}

<table id="page-length-option" class="striped display">
    <thead>
        <tr>
            <th>Bill Number</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.ItemActivityGroupList)
        {
            <tr>
                <td class="center-align">
                    <a href="#" onclick="ShowItemActivities(@group.ID)">@group.BillNumber</a>
                </td>

                <td>@group.Description</td>

                <td class="center-align">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.Change")).Succeeded)
                    {
                        <a asp-action="UnitCostEdit" asp-route-id="@group.ID"><i class="material-icons pink-text">mode_edit</i></a><text>&nbsp;</text>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.Delete")).Succeeded)
                    {
                        <a asp-action="UnitCostDelete" asp-route-id="@group.ID"><i class="material-icons pink-text">clear</i></a><text>&nbsp;</text>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.View")).Succeeded)
                    {
                        <a asp-action="UnitCostDetails" asp-route-id="@group.ID"><i class="material-icons pink-text">play_arrow</i></a><text>&nbsp;</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col xl12 l12 m12 s12">
        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.Add")).Succeeded)
        {
            <a asp-action="UnitCostCreate" class="waves-effect waves-light btn">
                <i class="material-icons right">gps_fixed</i>Add Activity Group
            </a>
        }
        @*<a id="IDBackToList2" class="waves-effect waves-light btn"><i class="material-icons right">gps_fixed</i>Back</a>*@
    </div>
</div>
<script language="javascript">
    $('#page-length-option').DataTable();
</script>