@using APRP.Web.Domain.Models
@model APRP.Web.ViewModels.WorkPlanPackageContractViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_App.cshtml";

}


@section vendorCss
{

    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/flag-icon/css/flag-icon.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/select.dataTables.min.css">
}

@section customCss
{
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/app-chat.css">
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/data-tables.css">
    <link href="~/asset_default/app-assets/vendors/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/data-tables.css">

}

@section aside
{
    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">

        <div class="brand-sidebar">
            <h1 class="logo-wrapper">
                <a class="brand-logo darken-1" asp-controller="Home" asp-action="Dashboard">
                    <img src="~/asset_default/app-assets/images/logo/menu-logo.png" alt="REPARS logo" /><span class="logo-text hide-on-med-and-down">REPARS</span>
                </a>
                <a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a>
            </h1>
        </div>

        <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">
            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Home" asp-action="Dashboard"><i class="material-icons">home</i><span id="idHomeAuthority" class="menu-title" data-i18n="">Home</span></a>
            </li>

            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan" href="#">
                    <i class="material-icons">timeline</i>
                    <span class="menu-title" data-i18n="">Road Networks</span>
                </a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li>
                            <a asp-controller="Road" asp-action="Index" data-i18n="" class="collapsible-body">
                                <i class="material-icons">radio_button_unchecked</i><span>Road Network</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan" href="#">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span class="menu-title" data-i18n="">Road Classification</span>
                            </a>
                            <div class="collapsible-body">
                                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadClassCodeUnits" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Class</span></a>
                                    </li>
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadConditionCodeUnits" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Condition</span></a>
                                    </li>
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadClassifications" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Classifications</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Administrator.Role.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan" href="#">
                        <i class="material-icons">supervisor_account</i>
                        <span class="menu-title" data-i18n="">User Management</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <li>
                                <a class="collapsible-body" asp-page="/UserAccess/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>User Access List</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/users/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Users</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/roles/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Approvals</span></a>
                            </li>

                            <li>
                                <a class="collapsible-body" asp-controller="Permissions" asp-action="ListRoleClaims" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Groups</span></a>
                            </li>
                        </ul>

                    </div>
                </li>
            }

            <!--ARICS Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">filter_tilt_shift</i><span class="menu-title" data-i18n="">ARICS</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.ConductARICS")).Succeeded)
                            {
                                <li>
                                    <a asp-page="/ARICZ/UploadARICS" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Upload ARICS</span></a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.ConductARICS")).Succeeded)
                            {
                                <li>
                                    <a asp-page="/ARICZ/ConductARICS" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Direct Data Entry</span></a>
                                </li>
                            }
                            <li><a asp-page="/aricz/aricshome" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARICS Summary</span></a></li>
                            <li><a asp-controller="arics" asp-action="aricsapprovalagency" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARICS Approvals</span></a></li>
                        </ul>
                    </div>
                </li>
            }
            <!--End ARICS Menu Group-->


            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.GIS.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">filter_tilt_shift</i><span class="menu-title" data-i18n="">GIS</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <li>
                                <a target="_blank" asp-page="/nrsmap/Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>View GIS Roads</span></a>
                            </li>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KENHA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKENHA" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>KenHA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KURA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKURA" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KuRA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KERRA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKERRA" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KeRRA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KWS.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKWS" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KWS GIS</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Counties.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexCounties" data-i18n="" class="collapsible-body"><i class="material-icons"></i><span>Counties GIS</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }

            <!--Budgeting Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Finance.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">monetization_on</i><span class="menu-title" data-i18n="">Budgeting</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">

                            <li>
                                <a asp-controller="Admin" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Financial Year</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/AllocationCodeUnitRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Allocation Ratios</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/AllocationRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Allocation Figures</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-controller="RevenueCollectionCodeUnitTypes" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection Types</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/RevenueCollectionCodeUnitRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection Code Units</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/RevenueCollectionRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection</span></a>
                            </li>
                            <li><a asp-controller="RevenueCollection" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Budget Approvals</span></a></li>
                            <li><a asp-controller="Disbursement" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Disbursement</span></a></li>
                        </ul>
                    </div>
                </li>
            }
            <!--End Budgeting Menu Group-->
            <!--Workplanning Menu Group-->
            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">monetization_on</i><span class="menu-title" data-i18n="">Work Planning</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li>
                            <a asp-controller="workplan" asp-action="Prioritization" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Prioritization</span></a>
                        </li>
                        <li>
                            <a asp-controller="workplan" asp-action="GetRoadsForWorkPlan" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Work Plan</span></a>
                        </li>
                        <li>
                            <a asp-controller="workplan" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARWP Summary</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <!--End Workplanning Menu Group-->

            <li class="active bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">Contract Management</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">

                                                    @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Contractor.View")).Succeeded){<li><a class="collapsible-body" asp-controller="Admin" asp-action="Contractors" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contractors</span></a></li>}@if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICSYear.View")).Succeeded){<li><a class="collapsible-body" asp-controller="ARICS" asp-action="ARICSYearIndex" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Calendar Year</span></a></li>}
                        {
                            <li>
                                <a class="collapsible-body" asp-controller="Admin" asp-action="Contractors" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contractors</span></a>
                            </li>
                        }
                        <li>
                            <a class="collapsible-body" asp-controller="WorkPlanPackage" asp-action="RoadWorkPackaging" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Work Packaging</span></a>
                        </li>
                        <li>
                            <a class="active collapsible-body" asp-controller="WorkPlanPackage" asp-action="ContractDetails" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contract Details</span></a>
                        </li>
                        <li>
                            <a class="collapsible-body" asp-controller="WorkPlanPackage" asp-action="ProjectProgressDetails" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Project Progress</span></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Reports" asp-action="index"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Report Management</span></a>
            </li>

            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Issue" asp-action="Index"><i class="material-icons">chat</i><span class="menu-title" data-i18n="">Complaints / Issues</span></a>
            </li>

            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">Training</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.QuarterCodeList.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-page="/QuarterCodeListRx/Index" data-i18n=""><i class="material-icons"></i><span>Quarter Code List</span></a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.QuarterCodeUnit.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-page="/QuarterCodeUnitRx/Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Quarter Code Unit</span></a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.TrainingCourse.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-controller="TrainingCourses"
                                   asp-action="Index" data-i18n="">
                                    <i class="material-icons">radio_button_unchecked</i>
                                    <span>Courses</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a class="collapsible-body" asp-page="/TrainingRx/Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Training</span></a>
                        </li>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Training.Report")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-controller="Training" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Training Report</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <!--Administration Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Administrator.Role.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">add_to_queue</i><span class="menu-title" data-i18n="">Admin</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="Admin" asp-action="UnitCost" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Activity Code List</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.FundingSource.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="FundingSources" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Funding Sources</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.FundType.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="FundTypes" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Fund Types</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Authority.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="Authorities" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Authorities</span></a>
                                </li>
                            }

                                                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Contractor.View")).Succeeded){<li><a class="collapsible-body" asp-controller="Admin" asp-action="Contractors" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contractors</span></a></li>}@if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICSYear.View")).Succeeded){<li><a class="collapsible-body" asp-controller="ARICS" asp-action="ARICSYearIndex" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Calendar Year</span></a></li>}
                        </ul>
                    </div>
                </li>
            }
            <!--End Administration Menu Group-->
        </ul>
        <div class="navigation-background"></div>
        <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
    <!-- END: SideNav-->
}


<!-- Content Area Starts -->
<div class="chat-application">
    <div class="chat-content-head">
        <div class="header-details">
            <h5 class="m-0 sidebar-title">Contracting for Road Work Activities</h5>
        </div>
    </div>

    <!-- Scroll - vertical, dynamic height -->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">
                        Packaging of Road Workplans
                    </h4>
                    <table id="data-table-packages" class="striped display" role="grid">
                        <thead>
                            <tr>
                                <th>Package Number</th>
                                <th>Package Name</th>
                                <th>Engineer's Estimate</th>
                                <th>Contract Sum</th>
                                <th>% Contigencies</th>
                                <th>No. Of Workplans</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Contracts != null)
                            {
                                foreach (var contract in Model.Contracts)
                                {
                                    if (contract.ID == Model.Contract.ID)
                                    {
                                        <tr role="row" style="background-color:#c5c2c2">
                                            <td>
                                                <a asp-controller="WorkPlanPackage" asp-action="ContractDetails" asp-route-id="@contract.ID">@contract.WorkPlanPackage.Code</a>
                                            </td>

                                            <td>@contract.WorkPlanPackage.Name</td>
                                            <td>KSH @contract.WorkPlanPackage.EngineerEstimate.ToString("N")</td>
                                            <td>KSH @contract.ContractSumWorkplan.ToString("N")</td>
                                            <td>@contract.WorkPlanPackage.Contigencies.ToString("N")</td>
                                            <td>@(contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans != null ? contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans.Count().ToString("N") : "0")</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr role="row">
                                            <td>
                                                <a asp-controller="WorkPlanPackage" asp-action="ContractDetails" asp-route-id="@contract.ID">@contract.WorkPlanPackage.Code</a>
                                            </td>

                                            <td>@contract.WorkPlanPackage.Name</td>
                                            <td>KSH @contract.WorkPlanPackage.EngineerEstimate.ToString("N")</td>
                                            <td>@contract.WorkPlanPackage.Contigencies.ToString("N")</td>
                                            <td>@(contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans != null ? contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans.Count().ToString("N") : "0")</td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr role="row">
                                    <td colspan="5">
                                        There are no packages created. Please create packages.
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="card-content align-right">

                    @if (Model.Contract.WorkPlanPackage != null)
                    {
                        <a asp-controller="WorkPlanPackage" asp-action="RoadWorkPackaging" asp-route-id="@Model.Contract.WorkPlanPackage.ID" class="waves-effect waves-light btn-small"><i class="material-icons left">arrow_back</i> Package Details</a>

                        <a class="waves-effect waves-light btn-small" onclick="DownloadBidDetails(@Model.Contract.WorkPlanPackage.ID , 0)"><i class="material-icons left">file_download</i> Download BOQ.</a>

                        <a class="waves-effect waves-light btn-small right" asp-controller="WorkPlanPackage" asp-action="ProjectProgressDetails" asp-route-id="@Model.Contract.ID" data-i18n=""><i class="material-icons right">arrow_forward</i><span>Project Progress</span></a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            @if (Model.Contract.ID > 0)
            {
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col"><a href="#contractDetails">Contract Details</a></li>
                    <li class="tab col"><a href="#contractActivities">Contract Activities</a></li>
                    <li class="tab col"><a href="#contractProjectSummary">Project Summary</a></li>

                </ul>
                <div id="contractDetails">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <br />
                                    @Html.HiddenFor(m => m.Contract.ID)
                                    <h4 class="card-title">Contract Details</h4>
                                    <div id="contractView">
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.ContractSumWorkplan, "KSH {0:n2}", new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.ContractSumWorkplan, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.ContractSumPackage, "KSH {0:n2}", new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.ContractSumPackage, new { @class = "active" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.PerformanceBond, new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.PerformanceBond, new { @class = "active" })
                                            </div>

                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.PercentageRetention, new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.PercentageRetention, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.AdvancePayment, "{0:n2}", new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.AdvancePayment, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.AdvanceClearance, "{0:n2}", new { disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.AdvanceClearance, new { @class = "active" })
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                <p>
                                                    <label>
                                                        @if (Model.Contract.inPaymentCertificate)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" />
                                                        }
                                                        <span>In Payment Certificate</span>
                                                    </label>
                                                </p>

                                            </div>
                                            <div class="input-field col m6 s12">
                                                <p>
                                                    <label>
                                                        @if (Model.Contract.ContractTaxable)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" />
                                                        }
                                                        <span> Contract Not Taxable  </span>
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <p>
                                                    <label>
                                                        @if (Model.Contract.ContractIsSigned)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" />
                                                        }
                                                        <span> Contract Signed  </span>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.ContractStartDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.ContractStartDate, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.ContractEndDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.ContractEndDate, new { @class = "active" })
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="card-footer card-alert white-text  align-right col s12">
                                                <div class="card-content">
                                                    <a class="waves-effect waves-light btn right" href="#!" onclick="EditPackageContractDetails(@Model.Contract.ID)"><i class="material-icons right">edit</i> Edit Contract Information</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="contractEdit">

                                    </div>

                                    @if (Model.Contract.Contractor != null)
                                    {
                                        <h4 class="card-title">Contractor Details</h4>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.KRAPin, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.KRAPin, new { @class = "active" })
                                            </div>

                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.Name, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.Name, new { @class = "active" })
                                            </div>

                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.Telephone, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.Telephone, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.Email, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.Email, new { @class = "active" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.POBox, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.POBox, new { @class = "active" })
                                            </div>

                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.Town, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.Town, new { @class = "active" })
                                            </div>
                                        </div>

                                        <h4 class="card-title">Bank Details</h4>
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.BankName, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.BankName, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.BankBranchName, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.BankBranchName, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.BankBranchCode, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.BankBranchCode, new { @class = "active" })
                                            </div>
                                            <div class="input-field col m6 s12">
                                                @Html.TextBoxFor(m => m.Contract.Contractor.BankAccountNumber, new { @class = "validate active", disabled = "disabled" })
                                                @Html.LabelFor(m => m.Contract.Contractor.BankAccountNumber, new { @class = "active" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="card-footer card-alert white-text  align-right col s12">
                                                <div class="card-content">
                                                    <a class="waves-effect waves-light btn right" href="#!" onclick="EditPackageContractorDetails(@Model.Contract.ID)"><i class="material-icons right">edit</i> Edit Contractor Information</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col s12 card #e1f5fe light-blue lighten-5">
                                                <div class="card-content align-center">
                                                    <p> No contractor has been associated with the contract. <a href="#!" onclick="EditPackageContractorDetails(@Model.Contract.ID)"> Select Contractor. </a> </p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="contractActivities">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="card-title">Annual Work plan road sections</h4>
                                    <hr />
                                    <table id="data-table-unit-groups" class="striped display">
                                        <thead>
                                            <tr>
                                                <th>Constituency</th>
                                                <th>Road Code</th>
                                                <th>Section Name</th>
                                                <th>Length (KM)</th>
                                                <th>Work Category</th>
                                                <th>Funding Source</th>
                                                <th>Execution Method</th>
                                                <th>Surface Type</th>
                                                <th>Workplan Cost</th>
                                                <th>Original Contract Sum</th>
                                                <th>Savings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Contract.WorkPlanPackage != null)
                                            {
                                                if (Model.Contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans != null)
                                                {
                                                    foreach (var sectionPlan in Model.Contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans.OrderBy(i => i.ID))
                                                    {
                                                        <tr>
                                                            <td>@(sectionPlan.RoadWorkSectionPlan.RoadSection.Constituency != null ? sectionPlan.RoadWorkSectionPlan.RoadSection.Constituency.Name : "") </td>
                                                            <td class="center-align">
                                                                @sectionPlan.RoadWorkSectionPlan.Road.RoadNumber
                                                            </td>
                                                            <td>@sectionPlan.RoadWorkSectionPlan.RoadSection.SectionName</td>
                                                            <td>@sectionPlan.RoadWorkSectionPlan.RoadSection.Length.ToString("N")</td>
                                                            <td>@(sectionPlan.RoadWorkSectionPlan.WorkCategory != null ? sectionPlan.RoadWorkSectionPlan.WorkCategory.Name : "")</td>
                                                            <td>@(sectionPlan.RoadWorkSectionPlan.FundingSource != null ? sectionPlan.RoadWorkSectionPlan.FundingSource.Name : "")</td>
                                                            <td>@(sectionPlan.RoadWorkSectionPlan.ExecutionMethod != null ? sectionPlan.RoadWorkSectionPlan.ExecutionMethod.Name : "")</td>
                                                            <td>@(sectionPlan.RoadWorkSectionPlan.RoadSection.SurfaceType != null ? sectionPlan.RoadWorkSectionPlan.RoadSection.SurfaceType.Code : "")</td>
                                                            <td>KSH @sectionPlan.RoadWorkSectionPlan.TotalEstimateCost.ToString("N")</td>
                                                            <td>KSH @sectionPlan.RoadWorkSectionPlan.PlanActivities.Sum(b => b.BillItemAmount).ToString("N")</td>
                                                            <td>
                                                                KSH
                                                                @{
                                                                    var savings = sectionPlan.RoadWorkSectionPlan.TotalEstimateCost - sectionPlan.RoadWorkSectionPlan.PlanActivities.Sum(b => b.BillItemAmount);
                                                                }
                                                                <span>KSH @savings.ToString("N")</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="10">
                                                            <span>There are no sections added to the package</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="10">
                                                        <span>There are no workplans or package defined for the contract</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="card-title">Details of road activities on selected bid rate</h4>
                                    <hr />
                                    <table id="data-table-unit-groups" class="striped display col s12">
                                        <thead>
                                            <tr>
                                                <th>Bill No</th>
                                                <th>Item Code</th>
                                                <th>Description</th>
                                                <th>Unit</th>
                                                <th>Quantity</th>
                                                <th>Engineer's Rate</th>
                                                <th>Planned Amount</th>
                                                <th>Contract Rate</th>
                                                <th>Contract Item Amount</th>
                                                <th>Technology</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Contract != null)
                                            {
                                                if (Model.Contract.WorkPlanPackage != null)
                                                {
                                                    if (Model.Contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans != null)
                                                    {
                                                        foreach (var sectionPlan in Model.Contract.WorkPlanPackage.WorkpackageRoadWorkSectionPlans)
                                                        {
                                                            <tr class="#e0e0e0 grey lighten-2">
                                                                <td colspan="11" class="center-align">
                                                                    <span>Activities for : </span> @sectionPlan.RoadWorkSectionPlan.RoadSection.SectionName
                                                                    <hr />
                                                                </td>
                                                            </tr>
                                                            foreach (var activity in sectionPlan.RoadWorkSectionPlan.PlanActivities)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @activity.ItemActivityUnitCost.ItemActivityGroup.BillNumber
                                                                    </td>

                                                                    <td>@activity.ItemActivityUnitCost.ItemCode</td>
                                                                    <td>@activity.ItemActivityUnitCost.Description</td>
                                                                    <td>@activity.ItemActivityUnitCost.UnitCode</td>
                                                                    <td>@activity.PackageQuantity.ToString("N")</td>
                                                                    <td>@activity.Rate</td>
                                                                    <td>KSH @activity.PackageAmount.ToString("N")</td>
                                                                    <td>@activity.BidRate</td>
                                                                    <td>KSH @activity.BillItemAmount.ToString("N")</td>
                                                                    <td>
                                                                        @(activity.Technology != null ? activity.Technology.Code : "")
                                                                    </td>
                                                                    <td> <a class="tooltipped" data-position="right" data-tooltip="Edit Bid Rate" href="#!" onclick="ShowPackageBidRateEditForm(@activity.ID, @Model.Contract.WorkPlanPackageId)"><i class="material-icons pink-text">mode_edit</i></a> &nbsp;</td>
                                                                </tr>

                                                            }
                                                            <tr class="#fafafa white darken-3">
                                                                <td colspan="11">&nbsp;</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="11">
                                                                <span>Not work plans to be displayed for the package</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="11">
                                                            <span>Contract has not been packaged</span>
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="11">
                                                        <span>Contract has not been defined</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="contractProjectSummary">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <form id="packageContractSummaryForm" class="col s12">

                                        @Html.HiddenFor(m => m.Contract.ID)

                                        <h4 class="card-title">Contract Summary Information</h4>
                                        <div id="projectsSummaryView">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.ProjectTitle, new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.ProjectTitle, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.Financier, new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.Financier, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.Engineer, new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.Engineer, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.EngineerRepresentative, new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.EngineerRepresentative, new { @class = "active" })
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.ContractSum, "KSH {0:n2}", new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.ContractSum, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.AdvancePayment, "KSH {0:n2}", new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.AdvancePayment, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.AmountCertifiedToDate, "{0:n2}", new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.AmountCertifiedToDate, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.percentageOfCertifiedPermanentWork, new { disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.percentageOfCertifiedPermanentWork, new { @class = "active" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card-footer card-alert white-text  align-right col s12">
                                                    <div class="card-action">
                                                        <a class="waves-effect waves-light btn right" href="#!" onclick="EditPackageContractSummaryDetails(@Model.Contract.ID)"><i class="material-icons right">edit</i> Edit Project Summary</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="projectsSummaryEdit">

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="card-title">Contractor Details</h4>
                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            @Html.TextBoxFor(m => m.Contract.Contractor.KRAPin, new { disabled = "disabled" })
                                            @Html.LabelFor(m => m.Contract.Contractor.KRAPin, new { @class = "active" })
                                        </div>
                                        <div class="input-field col m6 s12">
                                            @Html.TextBoxFor(m => m.Contract.Contractor.Name, new { disabled = "disabled" })
                                            @Html.LabelFor(m => m.Contract.Contractor.Name, new { @class = "active" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <form id="packageContractSummaryFormDates">

                                        @Html.HiddenFor(m => m.Contract.ID)

                                        <h4 class="card-title">Project Dates</h4>
                                        <div id="projectsSummaryDatesView">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.TenderDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.TenderDate, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.AwardDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.AwardDate, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.ContractStartDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.ContractStartDate, new { @class = "active" })
                                                </div>

                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.ContractEndDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.ContractEndDate, new { @class = "active" })
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.CommencementDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.CommencementDate, new { @class = "active" })
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    @Html.TextBoxFor(m => m.Contract.CompletionDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", disabled = "disabled" })
                                                    @Html.LabelFor(m => m.Contract.CompletionDate, new { @class = "active" })
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col s12">
                                                    <a class="waves-effect waves-light btn right" href="#!" onclick="EditPackageContractSummaryDatesDetails(@Model.Contract.ID)"><i class="material-icons right">edit</i> Edit Project Dates</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="projectsSummaryDatesEdit">

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="card-content  #e1f5fe light-blue lighten-5">
                    <p>
                        Please select package to view the contract information. You can also go back to view  <a asp-controller="WorkPlanPackage" asp-action="RoadWorkPackaging" asp-route-id="0" data-i18n=""> work packages</a>
                    </p>
                </div>
            }
            <div class="card-footer card-alert white-text  align-right">
                <div class="card-content">
                    <!-- <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Add Record</a>
                    <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> View Work Plan Cost</a>
                    <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Approve All</a>-->
                    <!--My Details View-->
                    <div id="modalViewPackageBidRateId" class="modal">
                        <div class="modal-content grey-text text-darken-1" id="modalViewBodyPackageBidRateDiv">

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div id="btnSubmit" class="col s8 offset-s2">
                                    <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
                                    @if (Model.Contract != null)
                                    {
                                        @if (Model.Contract.ID > 0)
                                        {
                                            <a href="#!" class="waves-effect waves-light btn-small" onclick="SavePackageBidRate()"><i class="material-icons left">cloud</i>Save Rate</a>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-alert white-text  align-right">
                <div class="card-content">
                    <div id="modalViewPackageContractorDetailsId" class="modal bottom-sheet">
                        <div class="modal-content grey-text text-darken-1" id="modalViewBodyPackageContractorDetailsDiv">

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div id="btnSubmit" class="col s8 offset-s2">
                                    <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel Contractor Update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
@section vendorJS
{
    <script src="~/asset_default/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/asset_default/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>

    <script src="~/asset_default/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>

}

@section scripts

{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $.ajax({
                method: "POST",
                url: "/UserManagement/GetShortName",
                datatype: "json",
                data: {}
            })
                .done(function (data) {
                    //write json array object
                    $("#idSpan").text(data.sn);
                    var Val1 = $("#idHomeAuthority").text();
                    $("#idHomeAuthority").text(Val1 + "-" + data.authorityCode); $("#idGlobalAuthority").text(data.authorityName);
                });
        });
    </script>
}

<script type="text/javascript">
    var GetKRAPIn = function () {
        var kraPin = $("#Contract_Contractor_KRAPin").val();
        var urlLocation = "/WorkPlanPackage/Contractor?kraPin=" + kraPin;

        $("#bankDetailsDiv").load(urlLocation, function () {

        })
    }

    var ShowPackageBidRateEditForm = function (planActivityId, workpackageId) {
        //edit bid rate
        var urlLocation = "/WorkPlanPackage/EditPackageBidRate?planActivityId=" + planActivityId + "&workpackageId=" + workpackageId;
        $("#modalViewBodyPackageBidRateDiv").load(urlLocation, function () {
            $("#modalViewPackageBidRateId").modal('open');
        });

    }

    var EditPackageContractDetails = function (contractId) {


        //edit contract details
        var urlLocation = "/WorkPlanPackage/EditPackageContractDetails?contractId=" + contractId;
        $("#contractEdit").load(urlLocation, function () {
            $("#contractView").hide(true);
        });
    }

    //edit contractor details
    var EditPackageContractorDetails = function (contractId) {

        var urlLocation = "/WorkPlanPackage/EditPackageContractorDetails?contractId=" + contractId;
        $("#modalViewBodyPackageContractorDetailsDiv").load(urlLocation, function () {
            $("#modalViewPackageContractorDetailsId").modal('open');
        });
    }

    //edit project dates information
    var EditPackageContractSummaryDatesDetails = function (contractId) {
        //console.log(contractId);
        var urlLocation = "/WorkPlanPackage/EditPackageContractSummaryDatesDetails?contractId=" + contractId;
        //console.log(urlLocation);
        $("#projectsSummaryDatesEdit").load(urlLocation, function () {
            $("#projectsSummaryDatesView").hide(true);
        });
    }


    //Edit project summary information
    var EditPackageContractSummaryDetails = function (contractId) {
        var urlLocation = "/WorkPlanPackage/EditPackageContractSummaryDetails?contractId=" + contractId;
        $("#projectsSummaryEdit").load(urlLocation, function () {
            $("#projectsSummaryView").hide(true);
        });
    }

    var DownloadBidSummary = function (workpackageId) {
        $.ajax({
            cache: false,
            url: '/WorkPlanPackage/DownloadContractBidSummary',
            data: {
                workpackageId: workpackageId
            },
            success: function (data) {
                if (data.success) {
                    //console.log(data.href)
                    window.location.href = data.href;
                }
                else {
                    swal(data.message, {
                        title: 'Cancelled',
                        icon: "error"
                    });
                }
            }
        });
    }

    var DownloadBidDetails = function (workpackageId, emptyRequest) {
        $.ajax({
            cache: false,
            url: '/WorkPlanPackage/DownloadBidDetails',
            data: { workplanPackageId: workpackageId, emptyRequest: emptyRequest },
            success: function (data) {
                if (data.success) {
                    //console.log(data.href)
                    window.location.href = data.href;
                }
                else {
                    swal(data.message, {
                        title: 'Cancelled',
                        icon: "error"
                    });
                }
            }
        });
    }


</script>
