@model APRP.Web.ViewModels.GetRoadWorkPlanViewModel;
@using APRP.Web.Domain.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_App.cshtml";
}


@section vendorCss
{

    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/flag-icon/css/flag-icon.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/select.dataTables.min.css">
}

@section customCss
{
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/app-chat.css">
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/data-tables.css">
    <link href="~/asset_default/app-assets/vendors/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/app-full-contacts.css">

}

@section aside
{
    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">

        <div class="brand-sidebar">
            <h1 class="logo-wrapper">
                <a class="brand-logo darken-1" asp-controller="Home" asp-action="Dashboard">
                    <img src="~/asset_default/app-assets/images/logo/menu-logo.png" alt="REPARS logo" /><span class="logo-text hide-on-med-and-down">REPARS</span>
                </a>
                <a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a>
            </h1>
        </div>

        <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">
            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Home" asp-action="Dashboard"><i class="material-icons">home</i><span id="idHomeAuthority" class="menu-title" data-i18n="">Home</span></a>
            </li>

            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan" href="#">
                    <i class="material-icons">timeline</i>
                    <span class="menu-title" data-i18n="">Road Networks</span>
                </a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li>
                            <a asp-controller="Road" asp-action="Index" data-i18n="" class="collapsible-body">
                                <i class="material-icons">radio_button_unchecked</i><span>Road Network</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan" href="#">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span class="menu-title" data-i18n="">Road Classification</span>
                            </a>
                            <div class="collapsible-body">
                                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadClassCodeUnits" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Class</span></a>
                                    </li>
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadConditionCodeUnits" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Condition</span></a>
                                    </li>
                                    <li>
                                        <a class="collapsible-body" asp-controller="RoadClassifications" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Classifications</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Administrator.Role.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan" href="#">
                        <i class="material-icons">supervisor_account</i>
                        <span class="menu-title" data-i18n="">User Management</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <li>
                                <a class="collapsible-body" asp-page="/UserAccess/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>User Access List</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/users/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Users</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/roles/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Approvals</span></a>
                            </li>

                            <li>
                                <a class="collapsible-body" asp-controller="Permissions" asp-action="ListRoleClaims" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Groups</span></a>
                            </li>
                        </ul>

                    </div>
                </li>
            }

            <!--ARICS Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">filter_tilt_shift</i><span class="menu-title" data-i18n="">ARICS</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.ConductARICS")).Succeeded)
                            {
                                <li>
                                    <a asp-page="/ARICZ/UploadARICS" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Upload ARICS</span></a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICS.ConductARICS")).Succeeded)
                            {
                                <li>
                                    <a asp-page="/ARICZ/ConductARICS" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Direct Data Entry</span></a>
                                </li>
                            }
                            <li><a asp-page="/aricz/aricshome" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARICS Summary</span></a></li>
                            <li><a asp-controller="arics" asp-action="aricsapprovalagency" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARICS Approvals</span></a></li>
                        </ul>
                    </div>
                </li>
            }
            <!--End ARICS Menu Group-->


            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.GIS.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">filter_tilt_shift</i><span class="menu-title" data-i18n="">GIS</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <li>
                                <a target="_blank" asp-page="/nrsmap/Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>View GIS Roads</span></a>
                            </li>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KENHA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKENHA" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>KenHA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KURA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKURA" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KuRA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KERRA.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKERRA" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KeRRA GIS </span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.KWS.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexKWS" data-i18n="" class="collapsible-body"><i class="material-icons">radio_button_unchecked</i><span>KWS GIS</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Counties.GIS.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="GIS" asp-action="IndexCounties" data-i18n="" class="collapsible-body"><i class="material-icons"></i><span>Counties GIS</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }

            <!--Budgeting Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Finance.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">monetization_on</i><span class="menu-title" data-i18n="">Budgeting</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">

                            <li>
                                <a asp-controller="Admin" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Financial Year</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/AllocationCodeUnitRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Allocation Ratios</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/AllocationRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Allocation Figures</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-controller="RevenueCollectionCodeUnitTypes" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection Types</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/RevenueCollectionCodeUnitRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection Code Units</span></a>
                            </li>
                            <li>
                                <a class="collapsible-body" asp-page="/RevenueCollectionRx/index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Revenue Collection</span></a>
                            </li>
                            <li><a asp-controller="RevenueCollection" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Budget Approvals</span></a></li>
                            <li><a asp-controller="Disbursement" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Disbursement</span></a></li>
                        </ul>
                    </div>
                </li>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.WorkplanPermissions.View")).Succeeded)
            {
                <!--End Budgeting Menu Group-->
                <!--Workplanning Menu Group-->
                <li class="active bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">monetization_on</i><span class="menu-title" data-i18n="">Work Planning</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <li>
                                <a asp-controller="workplan" asp-action="Prioritization" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Prioritization</span></a>
                            </li>
                            <li>
                                <a asp-controller="workplan" asp-action="GetRoadsForWorkPlan" class="active collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Road Work Plan</span></a>
                            </li>
                            <li>
                                <a asp-controller="workplan" asp-action="Index" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>ARWP Summary</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--End Workplanning Menu Group-->
            }
            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">Contract Management</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li>
                            <a class="collapsible-body" asp-controller="WorkPlanPackage" asp-action="RoadWorkPackaging" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Work Packaging</span></a>
                        </li>
                        <li>
                            <a class="collapsible-body" asp-controller="WorkPlanPackage" asp-action="ContractDetails" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contract Details</span></a>
                        </li>
                        <li>
                            <a class="collapsible-body" asp-controller="WorkPlanPackage" asp-action="ProjectProgressDetails" asp-route-id="0" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Project Progress</span></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Reports" asp-action="index"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Report Management</span></a>
            </li>

            <li class="bold">
                <a class="waves-effect waves-cyan " asp-controller="Issue" asp-action="Index"><i class="material-icons">chat</i><span class="menu-title" data-i18n="">Complaints / Issues</span></a>
            </li>

            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">Training</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.QuarterCodeList.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-page="/QuarterCodeListRx/Index" data-i18n=""><i class="material-icons"></i><span>Quarter Code List</span></a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.QuarterCodeUnit.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-page="/QuarterCodeUnitRx/Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Quarter Code Unit</span></a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.TrainingCourse.View")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-controller="TrainingCourses"
                                   asp-action="Index" data-i18n="">
                                    <i class="material-icons">radio_button_unchecked</i>
                                    <span>Courses</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a class="collapsible-body" asp-page="/TrainingRx/Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Training</span></a>
                        </li>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Training.Report")).Succeeded)
                        {
                            <li>
                                <a class="collapsible-body" asp-controller="Training" asp-action="Index" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Training Report</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <!--Administration Menu Group-->
            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Administrator.Role.View")).Succeeded)
            {
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">add_to_queue</i><span class="menu-title" data-i18n="">Admin</span></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ActivityGroup.View")).Succeeded)
                            {
                                <li>
                                    <a asp-controller="Admin" asp-action="UnitCost" class="collapsible-body" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Activity Code List</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.FundingSource.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="FundingSources" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Funding Sources</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.FundType.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="FundTypes" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Fund Types</span></a>
                                </li>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Authority.View")).Succeeded)
                            {
                                <li>
                                    <a class="collapsible-body" asp-controller="Admin" asp-action="Authorities" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Authorities</span></a>
                                </li>
                            }

                                                        @if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.Contractor.View")).Succeeded){<li><a class="collapsible-body" asp-controller="Admin" asp-action="Contractors" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Contractors</span></a></li>}@if ((await AuthorizationService.AuthorizeAsync(User, "Permissions.ARICSYear.View")).Succeeded){<li><a class="collapsible-body" asp-controller="ARICS" asp-action="ARICSYearIndex" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Calendar Year</span></a></li>}
                        </ul>
                    </div>
                </li>
            }
            <!--End Administration Menu Group-->
        </ul>
        <div class="navigation-background"></div>
        <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
    <!-- END: SideNav-->
}


<!-- Content Area Starts -->
<div class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <a class="waves-effect waves-light btn-small" asp-controller="workplan" asp-action="GetRoadWorkPlan" asp-route-id="@Model.RoadWorkSectionPlan.Road.ID"><i class="material-icons left">arrow_back</i> View Work plans for road : @Model.RoadWorkSectionPlan.Road.RoadName</a>
                    <a class="waves-effect waves-light btn-small right" asp-controller="workplan" asp-action="GetRoadsForWorkPlan"><i class="material-icons left">add_circle</i> Create Workplan For New Road</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll - vertical, dynamic height -->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card  card-default #f1f8e9 light-green lighten-5">
                <div class="card-content">
                    <div class="row section">
                        <div class="col s6">
                            <p>
                                <h4 class="card-title strong black-text">
                                    Total Allocated Budget for Road Works :
                                    <span class="#eeeeee grey lighten-3 strong  black-text">

                                        KSHS @(ViewBag.BudgetAllocated != null ? ViewBag.BudgetAllocated.ToString("N") : "0.00")
                                    </span>
                                </h4>
                            </p>
                            <p>
                                <h4 class="card-title strong black-text">
                                    Funding Source :
                                    <span class="#eeeeee grey lighten-3 strong  black-text">
                                        @if (Model.RoadWorkSectionPlan.FundingSource != null)
                                        {
                                            <span>@Model.RoadWorkSectionPlan.FundingSource.Name</span>
                                        }
                                        else
                                        {
                                            <span>No Funding source has been set up for the work plan.</span>
                                        }
                                    </span>
                                </h4>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>
                                <h4 class="card-title strong black-text">
                                    Budget Balance : <span class="#eeeeee grey lighten-3 strong  black-text">
                                        @{
                                            var remainingBudget = 0.0;

                                            @if (ViewBag.BudgetAllocated != null && ViewBag.totalWorkplanCost != null)
                                            {
                                                remainingBudget = (ViewBag.BudgetAllocated - ViewBag.totalWorkplanCost);
                                            }
                                        }
                                        KSHS @remainingBudget.ToString("N")
                                    </span>
                                    @if (remainingBudget < 0)
                                    {
                                        <span class="#e3f2fd blue lighten-5 right"> Total budget has been exceeded.</span>
                                    }
                                </h4>
                            </p>
                            <p>
                                <h4 class="card-title strong black-text">
                                    Total Workplan Cost :
                                    <span class="#eeeeee grey lighten-3 strong  black-text">
                                        @{
                                            var totalWorkplanCost = 0.0;
                                            var totalInstructedWorks = 0.0;
                                            if (Model.RoadWorkSectionPlan.PlanActivityPBCs != null)
                                            {
                                                totalInstructedWorks = (double)(Model.RoadWorkSectionPlan.PlanActivities.Sum(p => (p.Quantity * (decimal)(p.Rate))));
                                            }

                                            var totalPBCs = 0.0;
                                            if (Model.RoadWorkSectionPlan.PlanActivityPBCs != null)
                                            {
                                                totalPBCs = Model.RoadWorkSectionPlan.PlanActivityPBCs.Sum(p => (p.PlannedKM * p.CostPerKMPerMonth));
                                            }

                                            totalWorkplanCost = totalInstructedWorks + totalPBCs;

                                        }
                                        KSHS @totalWorkplanCost.ToString("N")
                                    </span>
                                </h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default">
                <div class="card-content" id="work-section-select">
                    <h4 class="card-title">
                        Road work activities for section : <span class="strong"> @Model.RoadWorkSectionPlan.RoadSection.SectionName</span> on road  <span class="strong"> @Model.RoadWorkSectionPlan.Road.RoadName</span>
                    </h4>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col s12 p-1">
                            <table id="data-table-unit-activities" class="striped display">
                                <thead class="table-header">
                                    <tr>
                                        <th>Start Chain</th>
                                        <th>End Chain</th>
                                        <th>Technology</th>
                                        <th>Item Code</th>

                                        <th>Description</th>
                                        <th>Unit Description</th>
                                        <th>Unit Measure</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RoadWorkSectionPlan.PlanActivities.Any())
                                    {
                                        if (Model.RoadWorkSectionPlan.PlanActivities.Where(i => i.ItemActivityUnitCost.OverheadRoutineImprovement == "OV").Any())
                                        {
                                            //over head activivites
                                            <tr class="row #eeeeee grey lighten-3">
                                                <td colspan="11">
                                                    <span class="align-right black-text strong">Workplan Administrative Activities </span>
                                                </td>
                                            </tr>
                                            foreach (var activity in Model.RoadWorkSectionPlan.PlanActivities.Where(i => i.ItemActivityUnitCost.OverheadRoutineImprovement == "OV").OrderBy(i => i.ID))
                                            {
                                                <tr>
                                                    <td>@activity.StartChainage</td>
                                                    <td>@activity.EndChainage</td>
                                                    <td>@(activity.Technology != null ? activity.Technology.Code : "")</td>
                                                    <td>@(activity.ItemActivityUnitCost.ItemCode + "-" + activity.ItemActivityUnitCost.SubItemCode + "-" + activity.ItemActivityUnitCost.SubSubItemCode)</td>
                                                    <td>@activity.ItemActivityUnitCost.Description</td>
                                                    <td>@activity.ItemActivityUnitCost.UnitDescription</td>
                                                    <td>@activity.ItemActivityUnitCost.UnitMeasure</td>
                                                    <td>@activity.Quantity</td>
                                                    <td>KSHS @activity.Rate.ToString("N")</td>
                                                    <td>KSHS @activity.Amount.ToString("N")</td>
                                                    @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch != null)
                                                    {

                                                        if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch.ApprovalStatus == 0)
                                                        {
                                                            <td class="center-align">
                                                                @if (Model.Authority.Code != "KRB")
                                                                {
                                                                    <span>
                                                                        <a href="#!" onclick="ShowSectionPlanActivityEdit(@activity.ID)"><i class="material-icons pink-text">mode_edit</i></a>&nbsp;
                                                                        <a class="tooltipped" data-position="right" data-tooltip="Remove Activity From Plan" href="#!" onclick="RemoveActivityConfirm(@activity.ID,'INSTR')"><i class="material-icons pink-text">delete_forever</i></a>&nbsp;
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td class="center-align">
                                                            @if (Model.Authority.Code != "KRB")
                                                            {
                                                                <span>
                                                                    <a href="#!" onclick="ShowSectionPlanActivityEdit(@activity.ID)"><i class="material-icons pink-text">mode_edit</i></a>&nbsp;
                                                                    <a class="tooltipped" data-position="right" data-tooltip="Remove Activity From Plan" href="#!" onclick="RemoveActivityConfirm(@activity.ID,'INSTR')"><i class="material-icons pink-text">delete_forever</i></a>&nbsp;
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span>-</span>
                                                            }

                                                        </td>

                                                    }

                                                </tr>
                                            }
                                        }

                                        if (Model.RoadWorkSectionPlan.PlanActivities.Where(i => i.ItemActivityUnitCost.OverheadRoutineImprovement != "OV").Any())
                                        {
                                            //over head activivites
                                            <tr class="row #eeeeee grey lighten-3">
                                                <td colspan="11">
                                                    <span class="align-right black-text strong">Workplan Instructed Works Activities </span>
                                                </td>
                                            </tr>
                                            foreach (var activity in Model.RoadWorkSectionPlan.PlanActivities.Where(i => i.ItemActivityUnitCost.OverheadRoutineImprovement != "OV").OrderBy(i => i.ID))
                                            {
                                                <tr>
                                                    <td>@activity.StartChainage</td>
                                                    <td>@activity.EndChainage</td>
                                                    <td>@(activity.Technology != null ? activity.Technology.Code : "")</td>
                                                    <td>@(activity.ItemActivityUnitCost.ItemCode + "-" + activity.ItemActivityUnitCost.SubItemCode + "-" + activity.ItemActivityUnitCost.SubSubItemCode)</td>
                                                    <td>@activity.ItemActivityUnitCost.Description</td>
                                                    <td>@activity.ItemActivityUnitCost.UnitDescription</td>
                                                    <td>@activity.ItemActivityUnitCost.UnitMeasure</td>
                                                    <td>@activity.Quantity</td>
                                                    <td>KSHS @activity.Rate.ToString("N")</td>
                                                    <td>KSHS @activity.Amount.ToString("N")</td>
                                                    @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch != null)
                                                    {
                                                        @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch.ApprovalStatus == 0)
                                                        {
                                                            <td class="center-align">
                                                                @if (Model.Authority.Code != "KRB")
                                                                {
                                                                    <span>
                                                                        <a href="#!" onclick="ShowSectionPlanActivityEdit(@activity.ID)"><i class="material-icons pink-text">mode_edit</i></a>&nbsp;
                                                                        <a class="tooltipped" data-position="right" data-tooltip="Remove Activity From Plan" href="#!" onclick="RemoveActivityConfirm(@activity.ID,'INSTR')"><i class="material-icons pink-text">delete_forever</i></a>&nbsp;
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td class="center-align">
                                                            @if (Model.Authority.Code != "KRB")
                                                            {
                                                                <span>
                                                                    <a href="#!" onclick="ShowSectionPlanActivityEdit(@activity.ID)"><i class="material-icons pink-text">mode_edit</i></a>&nbsp;
                                                                    <a class="tooltipped" data-position="right" data-tooltip="Remove Activity From Plan" href="#!" onclick="RemoveActivityConfirm(@activity.ID,'INSTR')"><i class="material-icons pink-text">delete_forever</i></a>&nbsp;
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span>-</span>
                                                            }

                                                        </td>
                                                    }


                                                </tr>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <tr>

                                            <td colspan="11">There are no activity records to display. Add Activities <div class="divider"></div></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="row #eeeeee grey lighten-3">
                                        <td colspan="9">
                                            <span class="align-right black-text strong">Total Instructed Works Cost for the road section : </span>
                                        </td>
                                        <td>
                                            <span class="align-right black-text strong">KSHS @totalInstructedWorks.ToString("N") </span>
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch.ApprovalStatus == 0)
                                    {
                                        @if (Model.Authority.Code != "KRB")
                                        {

                                            <tr>
                                                <td colspan="11">
                                                    <div class="col s5">
                                                        <a href="#!" onclick="GetItemActivitySelect('instructed')" class="waves-effect waves-light btn"><i class="material-icons right">gps_fixed</i>Add Instructed Work Activity</a> &nbsp; &nbsp;
                                                        @if (Model.ApplicationUser.Authority.Type == 1)
                                                        {
                                                            <a href="#!" onclick="GetItemActivitySelect('admin')" class="waves-effect waves-light btn"><i class="material-icons right">gps_fixed</i>Add Administrative Activity</a>
                                                        }

                                                    </div>

                                                </td>
                                            </tr>
                                        }

                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer card-alert white-text  align-right">
                    <div class="card-content">
                        <!-- <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Add Record</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> View Work Plan Cost</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Approve All</a>-->
                        <!--My Details View-->
                        <div id="modalViewId" class="modal" style="width: 95% !important ; max-height: 95% !important ;">
                            <div class="modal-content grey-text text-darken-1" style="width: 95% !important ; max-height: 95% !important ;" id="modalViewBodyDiv">

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div id="btnSubmit" class="col s8 offset-s2">
                                        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
                                        <a href="#!" class="waves-effect waves-light btn-small" onclick="GetSelectedValues(@Model.RoadWorkSectionPlan.ID)"><i class="material-icons left">cloud</i>Submit Selection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-alert white-text  align-right">
                    <div class="card-content">
                        <!-- <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Add Record</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> View Work Plan Cost</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Approve All</a>-->
                        <!--My Details View-->
                        <div id="modalViewPlanId" class="modal" style="width: 95% !important ; max-height: 95% !important ;">
                            <div class="modal-content grey-text text-darken-1" id="modalViewPlanEditBodyDivId">

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div id="btnSubmit" class="col s8 offset-s2">
                                        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
                                        <a href="#!" class="waves-effect waves-light btn-small" onclick="UpdatePlanActivity()"><i class="material-icons left">cloud</i>Update Record</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default">
                <div class="card-content" id="work-section-select">
                    <h4 class="card-title">
                        Performance Based Activities for : <span class="strong"> @Model.RoadWorkSectionPlan.RoadSection.SectionName</span> on road  <span class="strong"> @Model.RoadWorkSectionPlan.Road.RoadName</span>
                    </h4>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col s12 p-1">
                            <table id="data-table-unit-activities" class="striped display">
                                <thead class="table-header">
                                    <tr>
                                        <th>Activity Description</th>
                                        <th>Type</th>
                                        <th>Planned KM</th>
                                        <th>Cost Per Month per KM</th>
                                        <th>Amount</th>
                                        <th class="center-align">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RoadWorkSectionPlan.PlanActivityPBCs != null)
                                    {
                                        if (Model.RoadWorkSectionPlan.PlanActivityPBCs.Any())
                                        {
                                            foreach (var activity in Model.RoadWorkSectionPlan.PlanActivityPBCs.OrderBy(i => i.ID))
                                            {
                                                <tr>
                                                    <td>@activity.ItemActivityPBC.Description</td>
                                                    <td>@activity.ItemActivityPBC.Technology.Code</td>
                                                    <td>@activity.PlannedKM.ToString("N")</td>
                                                    <td>KSHS @activity.CostPerKMPerMonth.ToString("N")</td>
                                                    <td>KSHS @activity.TotalAmount.ToString("N")</td>
                                                    <td class="center-align">
                                                        @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch.ApprovalStatus == 0)
                                                        {
                                                            @if (Model.Authority.Code != "KRB")
                                                            {
                                                                <span>
                                                                    <a href="#!" onclick="ShowSectionPlanPBCActivityEdit(@activity.ID)"><i class="material-icons pink-text">mode_edit</i></a>&nbsp;
                                                                    <a class="tooltipped" data-position="right" data-tooltip="Remove Activity From Plan" href="#!" onclick="RemoveActivityConfirm(@activity.ID, 'PBC')"><i class="material-icons pink-text">delete_forever</i></a>&nbsp;

                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span>-</span>
                                                            }
                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>

                                                <td colspan="6">There are no activity records to display. Add Activities <div class="divider"></div></td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>

                                            <td colspan="6">There are no activity records to display. Add Activities <div class="divider"></div></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="row #eeeeee grey lighten-3">
                                        <td colspan="4">
                                            <span class="align-right black-text strong">Total PBC Activity Cost for the road section : </span>
                                        </td>
                                        <td>
                                            <span class="align-right black-text strong"> KSHS @totalPBCs.ToString("N") </span>
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    @if (Model.RoadWorkSectionPlan.WorkplanApprovalBatch.ApprovalStatus == 0)
                                    {
                                        @if (Model.Authority.Code != "KRB")
                                        {
                                            <tr>
                                                <td colspan="6">
                                                    <div class="col s5">
                                                        <a href="#!" onclick="GetPBCActivitySelect()" class="waves-effect waves-light btn"><i class="material-icons right">gps_fixed</i>Add PBC Activity</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer card-alert white-text  align-right">
                    <div class="card-content">
                        <!-- <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Add Record</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> View Work Plan Cost</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Approve All</a>-->
                        <!--My Details View-->
                        <div id="modalViewPBCId" class="modal">
                            <div class="modal-content grey-text text-darken-1" id="modalViewPBCBodyDiv">

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div id="btnSubmit" class="col s8 offset-s2">
                                        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
                                        <a href="#!" class="waves-effect waves-light btn-small" onclick="GetSelectedValues(@Model.RoadWorkSectionPlan.ID)"><i class="material-icons left">cloud</i>Submit Selection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-alert white-text  align-right">
                    <div class="card-content">
                        <!-- <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Add Record</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> View Work Plan Cost</a>
                        <a class="waves-effect waves-light btn" href="#!"><i class="material-icons right">gps_fixed</i> Approve All</a>-->
                        <!--My Details View-->
                        <div id="modalViewPlanPBCId" class="modal">
                            <div class="modal-content grey-text text-darken-1" id="modalViewPlanEditBodyPBCDivId">

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div id="btnSubmit" class="col s8 offset-s2">
                                        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
                                        <a href="#!" class="waves-effect waves-light btn-small" onclick="UpdatePlanActivityPBC()"><i class="material-icons left">cloud</i>Update Record</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section vendorJS
{
    <script src="~/asset_default/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/asset_default/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>

    <script src="~/asset_default/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>
}

@section scripts

{

    <script src="~/asset_default/app-assets/js/scripts/app-contacts.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            username = $('#applicationUser_UserName').val();

            $.ajax({
                method: "POST",
                url: "/UserManagement/GetShortName",
                datatype: "json",
                data: {}
            })
                .done(function (data) {
                    //write json array object
                    console.log(data);
                    //Set Road Section ID to null

                    $("#idSpan").text(data.sn);
                    var Val1 = $("#idHomeAuthority").text();
                    $("#idHomeAuthority").text(Val1 + "-" + data.authorityCode); $("#idGlobalAuthority").text(data.authorityName);
                });
        });
    </script>

}
<script type="text/javascript">

    //getting the selected rows
    var GetItemActivitySelect = function (activityType) {
        var urlLocation = "/Workplan/GetItemActivitySelect?activityType=" + activityType;
        $("#modalViewBodyDiv").load(urlLocation, function () {
            $("#modalViewId").modal('open');
        });
    }

    var GetPBCActivitySelect = function () {
        var urlLocation = "/Workplan/GetPBCActivitySelect";
        $("#modalViewPBCBodyDiv").load(urlLocation, function () {
            $("#modalViewPBCId").modal('open');
        });
    }

    var ShowSectionPlanActivityEdit = function (activityId) {
        var urlLocation = "/Workplan/ShowRoadWorkPlanLineAddEdit?SectionPlanActivityId=" + activityId;

        $("#modalViewPlanEditBodyDivId").load(urlLocation, function () {
            $("#modalViewPlanId").modal('open');
        });
    }


    var RemoveActivityConfirm = function (activityId, flag) {

        swal({
            title: "Kindly confirm?",
            text: "The item activity will be removed from the workplan!",
            buttons: {
                cancel: true,
                delete: 'Yes, Remove'
            }
        }).then(function (willDelete) {
            if (willDelete) {
                RemoveActivity(activityId, flag);
            }
        });
    }
    var RemoveActivity = function (activityId, flag) {
        $.ajax(
            {
                type: "POST",
                url: "/Workplan/RemoveWorkplanActivity",
                data: {
                    activityId: activityId,
                    flag: flag
                },
                success: function (data) {
                    if (data.success) {
                        window.location.hash = 'workSections';
                        window.location.reload(false);
                    }
                    else {
                        swal(data.message, {
                            title: 'Cancelled',
                            icon: "error",
                        });
                    }
                }
            });
    }
    var ShowSectionPlanPBCActivityEdit = function (activityId) {
        var urlLocation = "/Workplan/ShowRoadWorkPlanPBCLineAddEdit?SectionPlanActivityId=" + activityId;

        $("#modalViewPlanEditBodyPBCDivId").load(urlLocation, function () {
            $("#modalViewPlanPBCId").modal('open');
        });
    }
</script>
